<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  <title>PRAISELF</title>
</head>

<nav>
  <div class="home">Home</div>
    <div class="customize">Customize</div>
  <div class="profile">Profile</div>
  <div class="login-signup">Login/Signup</div>
</nav>

<main>
<h1>PRAISELF</h1>

<form class="" action="index.html" method="post">

  <div class="newNegativeThoughts">
    <label>Please type the emotion, you would like to add below.</label>
    <input type="text" name="" value="" placeholder="When I am feeling...">
  </div>

  <div class="newPositiveThoughts">
    <label>Please type the positive affirmations, you would like to add to the emotion below.</label>
    <input type="text" name="" value="" placeholder="When I am feeling...">
  </div>

</form>

</main>
  <script src="main.js"></script>
</body>

</html>
