<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  <title>PRAISELF</title>
</head>

<nav>
  <div class="home">Home</div>
    <div class="customize">Customize</div>
  <div class="profile">Profile</div>
  <div class="login-signup">Login/Signup</div>
</nav>

<main>
<h1>PRAISELF</h1>

<div class="negativeThoughts">
  <select aria-label="Choose Your Feeling" name="negFeeling" id="negFeeling" title="negFeeling" class="negFeeling">
    <option value="0">When you feel lonely and sad</option>
    <option value="1">When you feel terrified (without your safety being in danger)</option>
    <option value="2">When you feel insignificant</option>
    <option value="3">When you are nervous or afraid</option>
    <option value="4">When you are angry</option>
    <option value="5">When you feel hopeless and at the end of your rope</option>
    <option value="6">When you feel conflicted about a decision</option>
    <option value="7">When you are among friends</option>
    <option value="8">When you are around strangers</option>
    <option value="9">When you are at work</option>
    <option value="10">When you can't sleep</option>
    <option value="11">When you don't want to face the day</option>
    <option value="12">When you worry about your future</option>
    <option value="13">When you can't get your loved ones to support your dreams</option>
    <option value="14">When you come face to face with a problem</option>
    <option value="15">When you want to do more with your life but feel stuck</option>
    <option value="16">When you can't stop comparing yourself to others</option>
    <option value="17">When you feel you are not good enough no matter how hard you try</option>
    <option value="18">When you want to give up</option>
    <option value="19">When you recognize how powerful, gifted, talented and brilliant you really are</option>
  </select>
</div>

<div class="positiveThoughts">

</div>
</main>
  <script src="main.js"></script>
</body>

</html>
