<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  <title>PRAISELF</title>
</head>


<h1>PRAISELF</h1>

<div class="negativeThoughts">
  <select aria-label="Choose Your Feeling" name="negFeeling" id="negFeeling" title="negFeeling" class="negFeeling">
    <option value="0">Feeling Lonely & Sad</option>
    <option value="1">Feeling Terrified (w/o your safety being in danger)</option>
    <option value="2">Feeling Insignifcant</option>
    <option value="3" selected>Feeling Nervous or Afraid</option>
    <option value="4">Feeling Angry</option>
    <option value="5">Feeling Hopeless</option>
    <option value="6">Feeling Conflicted about a decision</option>
    <option value="7">Feelings When among friends</option>
    <option value="8">When around Strangers</option>
    <option value="9">When at Work</option>
  </select>
</div>

<div class="positiveThoughts">

</div>

  <script src="main.js"></script>
</body>

</html>
