<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="css/style.css">
      <title>PRAISELF</title>
   </head>
   <div class="center-page">
      <nav>
         <div class="home"><a href="/">Home</a></div>
         <% if (user) { %>
         <div class="customize"><a href="/customize">Customize</a></div>
         <div class="profile"><a href="/profile">Profile</a></div>
         <% } %>
         <div class="login"><a href="/login">Login</a></div>
         <div class="login"><a href="/signup">Sign Up</a></div>
      </nav>
      <main>
         <h1>PRAISELF</h1>
         <div class="negative-thoughts">
            <select aria-label="Choose Your Feeling" name="negFeeling" id="negFeeling" title="negFeeling" class="negFeeling">
               <option>Choose an option</option>
            </select>
         </div>
         <div class="affirmation-card hide">
            <div class="neg-feeling-header"></div>
            <div class="positive-thoughts"></div>
            <% if (user) { %>
            <i class="far fa-heart hide" style="font-size: 40px;"></i>
            <% } %>
            <button class="share-button"><i class="fas fa-share-square"></i> SHARE</button>
         </div>
      </main>
   </div>
   <div class="share-modal invisible">
      <div class="share-modal-card">
         <div class="share-modal-header"><span>Share</span><i class="close-modal-button clickable fas fa-times"></i></div>
         <input type="text" value="" class="share-link">
         <div class="tooltip">
            <button class="copy-button">
            <span class="tooltiptext" id="tooltip">Copy to clipboard</span>
            Copy text
            </button>
         </div>
         
         <div class="share-buttons-container">
            <button class="sms-link"><i class="fas fa-sms"></i></button>
            <a class="gmail-link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a>
         </div>

      </div>
   </div>
   <% if (user) { %>
   <script>
      window.email = "<%= user.local.email %>";
   </script>
   <% } %>
   <script src="loading.js"></script>
   <script src="main.js"></script>
   </body>
</html>