<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="style.css">
      <title>PRAISELF</title>
   </head>
   <nav>
      <div class="home"><a href="/">Home</a></div>
      <% if (user) { %>
         <div class="customize"><a href="/customize">Customize</a></div>
         <div class="profile"><a href="/profile">Profile</a></div>
      <% } %>
      <div class="login"><a href="/login">Login</a></div>
      <div class="login"><a href="/signup">Sign Up</a></div>
   </nav>
   <main>
      <h1>PRAISELF</h1>
      <div class="negativeThoughts">
         <select aria-label="Choose Your Feeling" name="negFeeling" id="negFeeling" title="negFeeling" class="negFeeling">
            <option>Choose an option</option>
            <% for (let i=0; i < affirmations.length; i++) { %>
            <option value="<%= i %>"><%= affirmations[i].negativeEmotion %></option>
            <% } %>
         </select>
      </div>
      <div class="affirmationsCard hide">
         <div class="negFeelingHeader"></div>
         <div class="positiveThoughts"></div>
         <% if (user) { %>
         <i class="far fa-heart hide" style="font-size: 40px;"></i>
         <% } %>
      </div>
   </main>
   <script>
      window.affirmations = "<%= JSON.stringify(affirmations) %>";
      window.affirmations = affirmations.replaceAll('&#34;','"').replaceAll('&#39;',"'")
      window.affirmations = JSON.parse(affirmations)
   </script>
   <% if (user) { %>
   <script>
      window.email = "<%= user.local.email %>";
   </script>
   <% } %>
   <script src="main.js"></script>
   </body>
</html>