<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PRAISELF</title>
</head>

<body>
  <h1>PRAISELF</h1>

  <select aria-label="Choose Your Feeling" name="feeling" id="feeling" title="feeling" class="feeling">
    <option value="0"><% Test %></option>
    <option value="1"><% Feeling Lonely & Sad %></option>
    <option value="2"><% Feeling Terrified (w/o your safety being in danger)%></option>
    <option value="3"><% Feeling Insignifcant %></option>
    <option value="4"><% Feeling Nervous or Afraid %></option>
    <option value="5"><% Feeling Angry %></option>
    <option value="6"><% Feeling Hopeless %></option>
    <option value="7"><% Feeling Conflicted about a decision %></option>
    <option value="8"><% Feelings When among friends %></option>
    <option value="9"><% When around Strangers %></option>
    <option value="10"><% When at Work %></option>
  </select>

</body>

</html>
