<!doctype html>
<html>
   <head>
      <title>PRAISELF</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/profile.css">
   </head>
   <body>
      <nav>
         <div class="home"><a href="/">Home</a></div>
         <div class="customize"><a href="/customize">Customize</a></div>
         <div class="profile"><a href="/profile">Profile</a></div>
         <div class="login"><a href="/login">Login</a></div>
         <div class="login"><a href="/signup">Sign Up</a></div>
      </nav>
      <main>
      <h1>PRAISELF</h1>
      <h2>Profile Page</h2>
        <a href="/logout"><button>Logout</button></a>
      <div class="profile-page">
         <div class="favorites-container">
            <h3>FAVORITES</h3>
            <div class="favorites"></div>
         </div>
         <div class="custom-affirmations-container">
            <h3>CUSTOM AFFIRMATIONS</h3>
            <div class="custom-affirmations"></div>
         </div>
      </div>
      <% if (user) { %>
      <script>
         window.email = "<%= user.local.email %>";
      </script>
      <% } %>
      <script src="loading.js"></script>
      <script src="profile.js"></script>
   </body>
</html>
