<!DOCTYPE html>
<html>
  <head>
    <title>PRAISELF</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/generic.css" />
    <link rel="stylesheet" href="css/affirmation-card.css" />
    <link rel="stylesheet" href="css/custom-buttons.css" />
  </head>
  <body>
    <div class="center-page">
      <nav class="nav-bar">
        <div class="home"><a href="/">Home</a></div>
        <div class="customize"><a href="/customize">Customize</a></div>
        <div class="profile"><a href="/profile">Profile</a></div>
        <% if (user) { %>
        <div class="login"><a href="/logout">Log Out</a></div>
        <% } else{ %>
        <div class="login"><a href="/login">Login</a></div>
        <div class="login"><a href="/signup">Sign Up</a></div>
        <% } %>
      </nav>
      <main>
        <h1>PRAISELF</h1>
        <% if (user) { %>
        <h2>Profile Page</h2>
        <div class="profile-page">
          <div class="favorites-container">
            <h3>FAVORITES</h3>
            <div class="favorites"></div>
          </div>
          <div class="custom-affirmations-container">
            <h3>CUSTOM AFFIRMATIONS</h3>
            <div class="custom-affirmations"></div>
          </div>
        </div>
        <% } else { %>
        <h3>Please <a href="/login" class="link">login</a> to use this page. :)</h3>
        <% } %>
      </main>
    </div>
    <div class="modal invisible">
      <div class="modal-card">
        <div class="modal-header"><span>Schedule a Text</span><i class="close-modal-button clickable fas fa-times"></i></div>
        <div class="sms-form-container">
          <form class="send-sms-form">
            <label for="options-today-tomorrow">Pick a day</label>
            <div class="d-flex">
              <input type="radio" id="option-today" name="options-today-tomorrow" value="today" checked />
              <label for="options-today">Today</label>
              <input type="radio" id="option-tomorrow" name="options-today-tomorrow" value="tomorrow" />
              <label for="options-tomorrow">Tomorrow</label>
            </div>
            <label for="scheduled-sms">Pick a time today between 7am and 9pm to schedule a text. For today, the time also has to be after now.</label>
            <input type="time" id="scheduled-sms" class="scheduled-sms" name="sms-time-picker" />
            <label for="phone-number">Enter your phone number as +1 and (10 digit phone number)</label>
            <input type="tel" class="form-phone-number" name="phone-number" pattern="[+][0-9]{11}" placeholder="+10123456789" autocomplete="off" type="tel" required />
            <button class="send-button custom-button green" type="submit">Send SMS</button>
          </form>
          <p class="invalid-number hide">That number is invalid. Please enter number like example.</p>
          <p class="invalid-time-7-9 hide">That time is invalid. Please enter a time between 7:00am and 8:59pm.</p>
          <p class="invalid-time-future hide">That time is invalid. Please enter a time in the future.</p>
          <p class="twilio-response"></p>
        </div>
      </div>
    </div>
    <% if (user) { %>
    <script>
      window.email = '<%= user.local.email %>';
    </script>
    <% } %>
    <script src="loading.js"></script>
    <script src="profile.js"></script>
  </body>
</html>
