a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 100px;
  margin: 10px 0;
}

h3 {
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  text-align: center;
  font-family: 'Montserrat';
  background: url('img/orangeSmile.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

i {
  font-size: 24px;
  pointer-events: none;
}

input.no-styles:focus {
  border: 0;
  outline: none;
}

.clickable,
.clickable-button {
  cursor: pointer;
  pointer-events: auto;
}

.clickable-button:hover {
  transform: scale(1.1);
  transform-origin: 0 0;
}

.d-flex {
  display: flex;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.link {
  color: blue;
  font-weight: 900;
}

.m-10-auto {
  margin: 10px auto;
}

.nav-bar > * {
  margin: 0 20px;
}

.w-100 {
  width: 100%;
}
