body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: url('img/sunflower.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.center-page {
    background-color: rgba(255,255,255,0.8);
    margin: 0 20%;
    min-height: 100vh;
    padding-top: 2%;
}

a {
    text-decoration: none;
    color: black;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav div {
  margin: 0 20px;
}

button.share-button {
    width: 77px;
    background: darkorange;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

h3{
  font-size: 25px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.1);
}

.favorite-affirmation,
.custom-affirmation {
  background: grey;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  float: left;
}


.affirmation-card {
    text-align: left;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 10px;
    background: rgba(255,255,255,1);
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px 0;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}


/* MODAL CSS */

.share-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-modal-card {
  width: 400px;
  height: 300px;
  background-color: white;
}

.share-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.share-buttons-container {
  margin-top: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
