body{
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
nav div{
  margin: 0 20px;
}
